.input-buttons{
    margin-left: 40%;
    margin-top: 20px;
}
.register-outer-container{
    padding: 20px;
    margin: 5% auto;
    width: 80%;
    border-radius: 20px;
    background-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px;
}
.title{
    font-weight: 500;
    font-size: larger;
    text-align: center;
}
.register-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.register-section{
    margin: 20px;
    text-align: center;
}
.error-container {
    position: relative;
    text-align: center;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}